{{extend 'layout.html'}}
<p>Please enter what you want to query:</p>
<form action="{{=URL('queryresult')}}">
    
  <select id="instance_of" name="instance_of" >
    <option value='0'>(Select instance of)</option>
    {{for item in option_list_instance_of:}}
    <option value="{{=item}}">{{=item}}</option>
    {{pass}}
  </select>
  
  <select id="property" name="property" >
    <option value='0'>(Select property)</option>
    {{for item in option_list_properties:}}
    <option value="{{=item}}">{{=item}}</option>
    {{pass}}
  </select>
  
  <!-- <input name="geographic_location" /> -->
  <br />
  <input type="submit" />
</form>
